<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
        <mat-card>
            <mat-card-title>Menú de Administración</mat-card-title>
            <mat-card-subtitle>Acceso rápido para administrar:</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-grid-list cols="3" rowHeight="fit" [style.height]="'350px'">
                    <a style="cursor:pointer;">
                        <mat-grid-tile *ngFor="let menu of adminMenu | async" [colspan]="1" [rowspan]="1" class="bgc-blue-grey-900" [routerLink]="[menu.link]">
                            <mat-icon class="mat-36" style="color:rgb(141, 141, 141);">{{menu.icon}}</mat-icon>
                            <mat-grid-tile-footer>
                                {{menu.title}}
                            </mat-grid-tile-footer>
                        </mat-grid-tile>
                    </a>
                </mat-grid-list>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <a mat-button color="accent" class="text-upper">
                    <span>View More</span>
                </a>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>Actividad Reciente</mat-card-title>
            <mat-card-subtitle>Recent activity from select members</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                card content
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <a mat-button color="accent" class="text-upper">
                    <span>View More</span>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div flex-gt-sm="40">
        <mat-card>
            <mat-card-title>Alertas</mat-card-title>
            <mat-card-subtitle>Items requiring attention</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                card content
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <a mat-button color="accent" class="text-upper">
                    <span>View More</span>
                </a>
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>Favorites</mat-card-title>
            <mat-card-subtitle>Your favorite products</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                card content
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                <a mat-button color="accent" class="text-upper">
                    <span>View More</span>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>