<mat-card>
    <mat-card-title-group>
        <mat-card-title>
        </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
        <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui natus ad error molestias odio saepe quisquam asperiores doloribus repudiandae, quae facere debitis, nulla iste ratione explicabo sit similique quasi ab. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Voluptates nisi possimus quaerat officiis facere similique sapiente quam iusto fuga velit consequuntur aliquid, excepturi labore dolorem cum enim maiores a animi!
            <mat-action-row>
                <button mat-button>Action1</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button>Action1</button>
        <button mat-button>Action2</button>

    </mat-card-actions>
    <mat-card-footer>
        Footer
    </mat-card-footer>
</mat-card>