<div layout-gt-sm="column" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="40">
        <mat-card>
            <mat-card-content>
                <mat-tab-group [disableRipple]="false">
                    <mat-tab label="Buscar">
                        <ng-template mat-tab-label>
                            <mat-icon class="mat-18" matListAvatar>search</mat-icon> Buscar
                        </ng-template>
                        <app-buscar-persona></app-buscar-persona>
                    </mat-tab>
                    <mat-tab label="Nuevo">
                        <app-nueva-persona></app-nueva-persona>
                    </mat-tab>
                    <mat-tab label="Editar">
                        <app-editar-persona></app-editar-persona>
                    </mat-tab>
                    <mat-tab label="Layout App">
                        <app-layout-persona></app-layout-persona>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>