<td-layout>
  <td-navigation-drawer flex sidenavTitle="Servicio Profesional Docente" name="Nombre del Usuario" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/ingreso']"><mat-icon>directions_walk</mat-icon>Ingreso</a>
      <a mat-list-item [routerLink]="[ '/promocion']"><mat-icon>supervisor_account</mat-icon>Promoción</a>
      <a mat-list-item [routerLink]="[ '/desempeno']"><mat-icon>group_add</mat-icon>Desempeño</a>
      <a mat-list-item [routerLink]="[ '/reconocimiento']"><mat-icon>class</mat-icon>Reconocimiento</a>
      <a mat-list-item [routerLink]="[ '/formacionContinua']"><mat-icon>school</mat-icon>Formación Continua</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item><mat-icon>lock</mat-icon>Cerrar Sesión</a>
        <a mat-list-item><mat-icon>description</mat-icon>Mi cuenta</a>        
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav color="accent">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <span  class="cursor-pointer">Servicio Profesional Docente</span>
      <span flex></span>
      <a mat-icon-button matTooltip="Ingreso" [routerLink]="[ '/ingreso']"><mat-icon>directions_walk</mat-icon></a>
      <a mat-icon-button matTooltip="Promoción" [routerLink]="[ '/promocion']"><mat-icon>supervisor_account</mat-icon></a>
      <a mat-icon-button matTooltip="Desempeño" [routerLink]="[ '/desempeno']"><mat-icon>group_add</mat-icon></a>
      <a mat-icon-button matTooltip="Reconocimiento" [routerLink]="[ '/reconocimiento']"><mat-icon>class</mat-icon></a>
      <a mat-icon-button matTooltip="Formación Continua" [routerLink]="[ '/formacionContinua']"><mat-icon>school</mat-icon></a>      
    </div>
    <router-outlet></router-outlet>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Copyright &copy; 2017 IEA. Derechos Reservados</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>