<td-layout-card-over>
  <mat-card-title>Módulo Estatal de Registro del Servicio Profesional Docente</mat-card-title>
  <mat-card-subtitle>Instituto de Educación de Aguascalientes</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Bienvenido(a) al Módulo Estatal de Registro del Servicio Profesional Docente.</p>
    <p>Para ingresar al Módulo se requiere contar con cuenta institucional @iea.edu.mx y que dicha cuenta esté habilitada con el o los perfiles necesarios para operar el módulo.</p>
    <p>Si requiere contar con acceso al módulo contacte directamente con la Dirección del Servicio Profesional Docente del Instituto de Educación de Aguascalientes.</p>    
    <a mat-raised-button color="primary" id="googleBtn">Acceso Institucional</a>
    <a (click)="sumar()" mat-button color="primary">Sumar</a>
    {{ usuario_inst | json }}
    {{ suma }}
  </mat-card-content>
</td-layout-card-over>