<h3>Nueva Opción</h3>
<form>
  <mat-form-field >
    <input matInput placeholder="Título de la Opción">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Descripción">
  </mat-form-field>  
  <mat-form-field >
    <input matInput placeholder="Icono (Material Design Icons)">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="URL (Ruta)">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Depende de:">
      <!--<mat-option *ngFor="let opcion of opciones" [value]="opcion.id">
        {{ opcion.titulo }}
      </mat-option>-->
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Tipo">
      <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
        {{ tipo.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>